.logo {
  margin-right: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;

  @media (max-width: 600px) {
    display: none;
  }
}

.logoDraw {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
  justify-content: center;
  padding: 10px 0;
}

.links {
  text-decoration: none;
  color: inherit;
}

.text {
  &:hover {
    
  }
}