@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: '';
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: #252b37;
  background-color: transparent;
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }

  &__header {
    display: flex;
    border-radius: 10px;
    background-color: #6095ff;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  }

  &__title {
    border-radius: 10px;
    background-color: #0034ff;
    color: #fff;
    padding: 5px 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden auto;
    margin-bottom: 15px;
    padding: 0 5px;

    &::-webkit-scrollbar {
      width: 5px;
      margin-left: 5px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
      background-color: #f9f9fd;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(180deg, #00c6fb, #005bea);
    }
  }
}

.close {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  transition: all 0.3s ease;

  &:hover {
    color: rgb(114, 221, 248);
    transform: rotate(360deg);
  }
}

.input {
  display: flex;
  padding: 20px 0;

  div {
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
  }
}
